.elementor-9630 .elementor-element.elementor-element-d93983c{--display:flex;--flex-direction:row;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--flex-wrap-mobile:wrap;--align-items:center;--gap:0px 0px;--background-transition:0.3s;--padding-top:20px;--padding-bottom:40px;--padding-left:0px;--padding-right:0px;}.elementor-9630 .elementor-element.elementor-element-d93983c:not(.elementor-motion-effects-element-type-background), .elementor-9630 .elementor-element.elementor-element-d93983c > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#003B71;}.elementor-9630 .elementor-element.elementor-element-d93983c, .elementor-9630 .elementor-element.elementor-element-d93983c::before{--border-transition:0.3s;}.elementor-9630 .elementor-element.elementor-element-4a3398d{--display:flex;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;--background-transition:0.3s;}.elementor-widget-image .widget-image-caption{color:var( --e-global-color-text );font-family:var( --e-global-typography-text-font-family ), Sans-serif;font-weight:var( --e-global-typography-text-font-weight );}.elementor-9630 .elementor-element.elementor-element-f650093{text-align:left;}.elementor-9630 .elementor-element.elementor-element-f650093 img{width:100%;max-width:120px;}.elementor-9630 .elementor-element.elementor-element-dc6cd89{--display:flex;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;--background-transition:0.3s;}.elementor-9630 .elementor-element.elementor-element-fab452b{--display:flex;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;--background-transition:0.3s;}.elementor-widget-heading .elementor-heading-title{color:var( --e-global-color-primary );font-family:var( --e-global-typography-primary-font-family ), Sans-serif;font-weight:var( --e-global-typography-primary-font-weight );}.elementor-9630 .elementor-element.elementor-element-b2fa7e6{text-align:center;}.elementor-9630 .elementor-element.elementor-element-b2fa7e6 .elementor-heading-title{color:#FFFFFF;font-family:"Hurme Geometric Sans No.3", Sans-serif;font-size:22px;font-weight:400;line-height:32px;}.elementor-9630 .elementor-element.elementor-element-ab7e518{--display:flex;--gap:30px 30px;--background-transition:0.3s;--padding-top:70px;--padding-bottom:40px;--padding-left:15px;--padding-right:15px;}.elementor-9630 .elementor-element.elementor-element-c16e2ff{text-align:center;}.elementor-9630 .elementor-element.elementor-element-c16e2ff .elementor-heading-title{color:#000000;font-family:"Hurme Geometric Sans No.3", Sans-serif;font-weight:500;}.elementor-widget-icon-list .elementor-icon-list-item:not(:last-child):after{border-color:var( --e-global-color-text );}.elementor-widget-icon-list .elementor-icon-list-icon i{color:var( --e-global-color-primary );}.elementor-widget-icon-list .elementor-icon-list-icon svg{fill:var( --e-global-color-primary );}.elementor-widget-icon-list .elementor-icon-list-item > .elementor-icon-list-text, .elementor-widget-icon-list .elementor-icon-list-item > a{font-family:var( --e-global-typography-text-font-family ), Sans-serif;font-weight:var( --e-global-typography-text-font-weight );}.elementor-widget-icon-list .elementor-icon-list-text{color:var( --e-global-color-secondary );}.elementor-9630 .elementor-element.elementor-element-403a8bb.elementor-element{--align-self:center;}.elementor-9630 .elementor-element.elementor-element-403a8bb .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child){padding-bottom:calc(4px/2);}.elementor-9630 .elementor-element.elementor-element-403a8bb .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child){margin-top:calc(4px/2);}.elementor-9630 .elementor-element.elementor-element-403a8bb .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item{margin-right:calc(4px/2);margin-left:calc(4px/2);}.elementor-9630 .elementor-element.elementor-element-403a8bb .elementor-icon-list-items.elementor-inline-items{margin-right:calc(-4px/2);margin-left:calc(-4px/2);}body.rtl .elementor-9630 .elementor-element.elementor-element-403a8bb .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after{left:calc(-4px/2);}body:not(.rtl) .elementor-9630 .elementor-element.elementor-element-403a8bb .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after{right:calc(-4px/2);}.elementor-9630 .elementor-element.elementor-element-403a8bb .elementor-icon-list-icon i{color:#16CA92;transition:color 0.3s;}.elementor-9630 .elementor-element.elementor-element-403a8bb .elementor-icon-list-icon svg{fill:#16CA92;transition:fill 0.3s;}.elementor-9630 .elementor-element.elementor-element-403a8bb{--e-icon-list-icon-size:16px;--icon-vertical-offset:0px;}.elementor-9630 .elementor-element.elementor-element-403a8bb .elementor-icon-list-item > .elementor-icon-list-text, .elementor-9630 .elementor-element.elementor-element-403a8bb .elementor-icon-list-item > a{font-family:"Hurme Geometric Sans No.3", Sans-serif;font-size:18px;font-weight:400;}.elementor-9630 .elementor-element.elementor-element-403a8bb .elementor-icon-list-text{transition:color 0.3s;}.elementor-9630 .elementor-element.elementor-element-a4f9122{--display:flex;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;--gap:20px 20px;--background-transition:0.3s;--padding-top:40px;--padding-bottom:40px;--padding-left:20px;--padding-right:20px;}.elementor-9630 .elementor-element.elementor-element-a4f9122:not(.elementor-motion-effects-element-type-background), .elementor-9630 .elementor-element.elementor-element-a4f9122 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#F9F9F9;}.elementor-9630 .elementor-element.elementor-element-a4f9122, .elementor-9630 .elementor-element.elementor-element-a4f9122::before{--border-transition:0.3s;}.elementor-9630 .elementor-element.elementor-element-e70af88{text-align:center;}.elementor-9630 .elementor-element.elementor-element-e70af88 .elementor-heading-title{color:#000000;font-family:"Hurme Geometric Sans No.3", Sans-serif;font-weight:500;}.elementor-widget-reviews .elementor-testimonial__header, .elementor-widget-reviews .elementor-testimonial__name{font-family:var( --e-global-typography-primary-font-family ), Sans-serif;font-weight:var( --e-global-typography-primary-font-weight );}.elementor-widget-reviews .elementor-testimonial__text{font-family:var( --e-global-typography-text-font-family ), Sans-serif;font-weight:var( --e-global-typography-text-font-weight );}.elementor-9630 .elementor-element.elementor-element-2a9342d .elementor-main-swiper .swiper-slide{border-radius:0px;border-color:#DCDCE6;}.elementor-9630 .elementor-element.elementor-element-2a9342d .elementor-swiper-button{font-size:20px;}.elementor-9630 .elementor-element.elementor-element-2a9342d .elementor-testimonial__header, .elementor-9630 .elementor-element.elementor-element-2a9342d .elementor-testimonial__name{font-family:"Hurme Geometric Sans No.3", Sans-serif;font-weight:600;}.elementor-9630 .elementor-element.elementor-element-2a9342d .elementor-testimonial__title{color:#198754;font-family:"Hurme Geometric Sans No.3", Sans-serif;}.elementor-9630 .elementor-element.elementor-element-2a9342d .elementor-testimonial__text{font-family:"Hurme Geometric Sans No.3", Sans-serif;font-weight:400;}.elementor-9630 .elementor-element.elementor-element-148adf5{--display:flex;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;--gap:20px 20px;--background-transition:0.3s;--padding-top:40px;--padding-bottom:40px;--padding-left:15px;--padding-right:15px;}.elementor-9630 .elementor-element.elementor-element-d6a6264{text-align:center;}.elementor-9630 .elementor-element.elementor-element-d6a6264 .elementor-heading-title{color:#000000;font-family:"Hurme Geometric Sans No.3", Sans-serif;font-size:42px;font-weight:500;}.elementor-9630 .elementor-element.elementor-element-5ba7219{--display:flex;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;--gap:20px 20px;--overflow:hidden;--background-transition:0.3s;--margin-top:0px;--margin-bottom:0px;--margin-left:0px;--margin-right:0px;--padding-top:40px;--padding-bottom:20px;--padding-left:15px;--padding-right:15px;}.elementor-9630 .elementor-element.elementor-element-5ba7219:not(.elementor-motion-effects-element-type-background), .elementor-9630 .elementor-element.elementor-element-5ba7219 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#F5F6F7;}.elementor-9630 .elementor-element.elementor-element-5ba7219, .elementor-9630 .elementor-element.elementor-element-5ba7219::before{--border-transition:0.3s;}.elementor-9630 .elementor-element.elementor-element-f6a2680{text-align:center;}.elementor-9630 .elementor-element.elementor-element-f6a2680 .elementor-heading-title{color:#000000;font-family:"Hurme Geometric Sans No.3", Sans-serif;font-size:42px;font-weight:500;}.elementor-widget-toggle .elementor-toggle-title, .elementor-widget-toggle .elementor-toggle-icon{color:var( --e-global-color-primary );}.elementor-widget-toggle .elementor-toggle-icon svg{fill:var( --e-global-color-primary );}.elementor-widget-toggle .elementor-tab-title.elementor-active a, .elementor-widget-toggle .elementor-tab-title.elementor-active .elementor-toggle-icon{color:var( --e-global-color-accent );}.elementor-widget-toggle .elementor-toggle-title{font-family:var( --e-global-typography-primary-font-family ), Sans-serif;font-weight:var( --e-global-typography-primary-font-weight );}.elementor-widget-toggle .elementor-tab-content{color:var( --e-global-color-text );font-family:var( --e-global-typography-text-font-family ), Sans-serif;font-weight:var( --e-global-typography-text-font-weight );}.elementor-9630 .elementor-element.elementor-element-6c70454 .elementor-toggle-item:not(:last-child){margin-bottom:15px;}.elementor-9630 .elementor-element.elementor-element-6c70454 .elementor-toggle-item{box-shadow:0px 4px 10px 0px rgba(0, 0, 0, 0.1);}.elementor-9630 .elementor-element.elementor-element-6c70454 .elementor-tab-title{background-color:#FFFFFF;padding:20px 20px 20px 20px;}.elementor-9630 .elementor-element.elementor-element-6c70454 .elementor-toggle-title, .elementor-9630 .elementor-element.elementor-element-6c70454 .elementor-toggle-icon{color:#000000;}.elementor-9630 .elementor-element.elementor-element-6c70454 .elementor-toggle-icon svg{fill:#000000;}.elementor-9630 .elementor-element.elementor-element-6c70454 .elementor-tab-title.elementor-active a, .elementor-9630 .elementor-element.elementor-element-6c70454 .elementor-tab-title.elementor-active .elementor-toggle-icon{color:#000000;}.elementor-9630 .elementor-element.elementor-element-6c70454 .elementor-toggle-title{font-family:"Hurme Geometric Sans No.3", Sans-serif;font-size:18px;font-weight:500;line-height:26px;}.elementor-9630 .elementor-element.elementor-element-6c70454 .elementor-toggle-icon.elementor-toggle-icon-left{margin-right:20px;}.elementor-9630 .elementor-element.elementor-element-6c70454 .elementor-toggle-icon.elementor-toggle-icon-right{margin-left:20px;}.elementor-9630 .elementor-element.elementor-element-6c70454 .elementor-tab-content{background-color:#FFFFFF;font-family:"Hurme Geometric Sans No.3", Sans-serif;font-size:16px;font-weight:400;line-height:24px;padding:0px 20px 20px 20px;}.elementor-9630 .elementor-element.elementor-element-e260f52{text-align:center;}.elementor-9630 .elementor-element.elementor-element-e260f52 .elementor-heading-title{color:#454545;font-family:"Hurme Geometric Sans No.3", Sans-serif;font-size:18px;font-weight:400;line-height:28px;}.elementor-widget-button .elementor-button{background-color:var( --e-global-color-accent );font-family:var( --e-global-typography-accent-font-family ), Sans-serif;font-weight:var( --e-global-typography-accent-font-weight );}.elementor-9630 .elementor-element.elementor-element-56102e6 .elementor-button{background-color:#16CA92;font-family:"Hurme Geometric Sans No.3", Sans-serif;font-size:20px;font-weight:600;line-height:1em;fill:#FFFFFF;color:#FFFFFF;border-radius:3px 3px 3px 3px;padding:14px 48px 14px 48px;}.elementor-9630 .elementor-element.elementor-element-56102e6 .elementor-button:hover, .elementor-9630 .elementor-element.elementor-element-56102e6 .elementor-button:focus{background-color:#108F68;color:#FFFFFF;}.elementor-9630 .elementor-element.elementor-element-56102e6 .elementor-button:hover svg, .elementor-9630 .elementor-element.elementor-element-56102e6 .elementor-button:focus svg{fill:#FFFFFF;}@media(max-width:1024px){.elementor-9630 .elementor-element.elementor-element-b2fa7e6 .elementor-heading-title{font-size:18px;line-height:30px;}}@media(max-width:767px){.elementor-9630 .elementor-element.elementor-element-d93983c{--gap:10px 10px;--padding-top:10px;--padding-bottom:10px;--padding-left:10px;--padding-right:10px;}.elementor-9630 .elementor-element.elementor-element-4a3398d{--width:30%;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-9630 .elementor-element.elementor-element-f650093{text-align:center;}.elementor-9630 .elementor-element.elementor-element-f650093 img{max-width:90px;}.elementor-9630 .elementor-element.elementor-element-dc6cd89{--width:67%;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-9630 .elementor-element.elementor-element-fab452b{--width:100%;--align-items:flex-end;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-9630 .elementor-element.elementor-element-ab7e518{--gap:20px 20px;--padding-top:50px;--padding-bottom:40px;--padding-left:15px;--padding-right:15px;}.elementor-9630 .elementor-element.elementor-element-d6a6264{text-align:center;}.elementor-9630 .elementor-element.elementor-element-d6a6264 .elementor-heading-title{font-size:26px;}.elementor-9630 .elementor-element.elementor-element-5ba7219{--gap:20px 20px;--margin-top:0px;--margin-bottom:0px;--margin-left:0px;--margin-right:0px;}.elementor-9630 .elementor-element.elementor-element-f6a2680{text-align:center;}.elementor-9630 .elementor-element.elementor-element-f6a2680 .elementor-heading-title{font-size:26px;}.elementor-9630 .elementor-element.elementor-element-6c70454 .elementor-toggle-title{font-size:16px;line-height:22px;}.elementor-9630 .elementor-element.elementor-element-6c70454 .elementor-tab-title{padding:15px 15px 15px 15px;}.elementor-9630 .elementor-element.elementor-element-6c70454 .elementor-toggle-icon.elementor-toggle-icon-left{margin-right:5px;}.elementor-9630 .elementor-element.elementor-element-6c70454 .elementor-toggle-icon.elementor-toggle-icon-right{margin-left:5px;}.elementor-9630 .elementor-element.elementor-element-6c70454 .elementor-tab-content{padding:0px 15px 15px 15px;}}@media(min-width:768px){.elementor-9630 .elementor-element.elementor-element-4a3398d{--width:25%;}.elementor-9630 .elementor-element.elementor-element-dc6cd89{--width:50%;}.elementor-9630 .elementor-element.elementor-element-fab452b{--width:25%;}}/* Start custom CSS for image, class: .elementor-element-f650093 */.elementor-9630 .elementor-element.elementor-element-f650093 img{
    filter: contrast(0) brightness(2);
}/* End custom CSS */
/* Start custom CSS for html, class: .elementor-element-9feef96 */.header-cta-green {
    transition: all .3s;
    text-align: center;
    border-radius: 3px;
    padding: 5px 0px;
    margin: 10px 0 0;
    color: #fff;
    font-size: 20px;
    line-height: 1.5;
    font-weight: 500;
    text-decoration: none;
    display: block;
    cursor: pointer;
    width: 100%;
    max-width: 356px;
    margin-inline: auto;
    background: #16ca92;
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, .5) 0 .125rem .25rem;
}

.header-cta-green:hover {
    background: #108F68;
    color: #fff;
}

@media(max-width: 767px) {
    .header-cta-green {
        margin: 0 auto;
    }
}/* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-b2fa7e6 */.elementor-9630 .elementor-element.elementor-element-b2fa7e6 p{
    position: relative;
    margin-bottom: 0;
    font-size: 18px !important;
}

@media(max-width: 767px) {
  .elementor-9630 .elementor-element.elementor-element-b2fa7e6 p{
    line-height: 18px !important;
    font-size: 15px !important;
    max-width: 235px;
  }
  .elementor-9630 .elementor-element.elementor-element-b2fa7e6 p:before {
    content: '';
    background: #008000;
    height: 10px;
    width: 10px;
    position: absolute;
    border-radius: 50px;
    left: 0px;
    top: 2px;
    box-shadow: 0 0 0 0 rgba(73, 183, 78, 0.7);
    border-radius: 10px;
    background: rgb(73, 183, 78) !important;
    animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
transition: all 300ms ease-in-out;
  }
}

@keyframes pulse{
0%{
transform: scale(0.95);
box-shadow: 0 0 0 0 rgba(33, 212, 7, 0.7);
}
70%{
        transform: scale(1);
box-shadow: 0 0 0 10px rgba(33, 212, 7, 0);
}
100%{
        transform: scale(0.95);
box-shadow: 0 0 0 0 rgba(33, 212, 7, 0);
}
}/* End custom CSS */
/* Start custom CSS for container, class: .elementor-element-d93983c */.elementor-9630 .elementor-element.elementor-element-d93983c{
    position: sticky;
    top: 0;
    background: #fff;
    z-index: 99;
}
.elementor-9630 .elementor-element.elementor-element-d93983c:after{
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -30px;
    width: 60px;
    height: 60px;
    background: url(../../2024/05/header-ashly.png) center/cover no-repeat;
    z-index: 1;
}

@media (max-width: 767px) {
  .elementor-9630 .elementor-element.elementor-element-d93983c:after{
    left: 48px;
    bottom: -15px;
  }
}/* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-c16e2ff */.elementor-9630 .elementor-element.elementor-element-c16e2ff > div{
    max-width: 700px;
    margin-inline: auto;
}

@media (max-width: 767px) {
    .elementor-9630 .elementor-element.elementor-element-c16e2ff h2 {
        font-size: 24px;
        line-height: 30px;
    }
}/* End custom CSS */
/* Start custom CSS for html, class: .elementor-element-bcbb53c */.elementor-9630 .elementor-element.elementor-element-bcbb53c{
    font-family: "Hurme Geometric Sans No.3", Sans-serif !important;
}
.elementor-9630 .elementor-element.elementor-element-bcbb53c .quiz > *{
    transition: all 0.3s ease;
    max-width: 750px;
    margin-inline: auto; 
    color: #000;
}
.elementor-9630 .elementor-element.elementor-element-bcbb53c .progress {
display: flex;
flex-direction: column;
gap: 5px;
margin-bottom: 10px;
}
.elementor-9630 .elementor-element.elementor-element-bcbb53c .progress p{
    margin-bottom: 0;
}
.elementor-9630 .elementor-element.elementor-element-bcbb53c .bar,
.elementor-9630 .elementor-element.elementor-element-bcbb53c .bar-fill {
position: relative;
background-color: #e5e7eb;
width: 100%;
max-width: 450px;
margin-inline: auto;
height: 10px;
border-radius: 10px;
}
.elementor-9630 .elementor-element.elementor-element-bcbb53c .bar-fill {
position: absolute;
height: 10px;
z-index: 1;
background-color: #16ca92;
}
.elementor-9630 .elementor-element.elementor-element-bcbb53c .step {
margin: 15px 0 0;
}
.elementor-9630 .elementor-element.elementor-element-bcbb53c .step h2 {
text-align: center;
font-size: 2rem;
margin-bottom: 10px;
line-height: 1.3;
}

.elementor-9630 .elementor-element.elementor-element-bcbb53c .btn {
display: flex;
flex-direction: column;
}
.elementor-9630 .elementor-element.elementor-element-bcbb53c .btn button,
.elementor-9630 .elementor-element.elementor-element-bcbb53c .final-box a {
text-align: center;
border-radius: 3px;
padding: 11px 0px;
margin: 10px 0 0;
color: #fff;
font-size: 1rem;
line-height: 1.5;
font-weight: 500;
text-decoration: none;
display: block;
cursor: pointer;
width: 100%;
max-width: 356px;
margin-inline: auto;
background: #16ca92;
border-color: #fff;
border-radius: .25rem;
box-shadow: rgba(0, 0, 0, .5) 0 .125rem .25rem;
}
.elementor-9630 .elementor-element.elementor-element-bcbb53c .btn button:hover,
.elementor-9630 .elementor-element.elementor-element-bcbb53c .final-box a:hover{
    background: #108F68;
}
.elementor-9630 .elementor-element.elementor-element-bcbb53c .box {
text-align: center;
padding: 40px 34px;
background-color: #fff;
border-top: 5px solid #16ca92;
line-height: 1.75;
box-shadow: 0 0 7px 0 rgb(0 0 0 / 20%);
transition: all 0.2s ease;
}
.elementor-9630 .elementor-element.elementor-element-bcbb53c .auto {
min-height: 100px;
display: flex;
align-items: center;
justify-content: center;
}
.elementor-9630 .elementor-element.elementor-element-bcbb53c .box p {
color: #333;
font-size: 16px;
font-weight: 500;
}
.elementor-9630 .elementor-element.elementor-element-bcbb53c .final-box h2 {
font-size: 48px;
line-height: 1.3;
font-weight: 600;
text-align: center;
color: #000;
}
.elementor-9630 .elementor-element.elementor-element-bcbb53c .final-box h3 {
font-size: 20px;
margin: 10px 0 20px;
line-height: 1.3;
font-weight: 600;
color: #000;
}

.elementor-9630 .elementor-element.elementor-element-bcbb53c .thank-you-cntent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}
.elementor-9630 .elementor-element.elementor-element-bcbb53c .thank-you-cntent a {
  margin: 0;
  max-width: 200px;
  margin-inline: auto;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1px;
}
.elementor-9630 .elementor-element.elementor-element-bcbb53c .thank-you p {
    line-height: 1.3;
}

.elementor-9630 .elementor-element.elementor-element-bcbb53c .thank-you-cntent ul {
  list-style: none;
  padding-left: 10px;
}
.elementor-9630 .elementor-element.elementor-element-bcbb53c .thank-you-cntent ul li {
  text-align: left;
  position: relative;
  padding: 2px;
}
.elementor-9630 .elementor-element.elementor-element-bcbb53c .thank-you-cntent ul li:before {
  content: "";
  position: absolute;
  left: -20px;
  top: 9px;
  width: 18px;
  height: 18px;
  background: url(../../2024/05/check-green.svg)
    center/cover no-repeat;
}
.elementor-9630 .elementor-element.elementor-element-bcbb53c .last-time {
  display: flex;
  align-items: center;
  justify-content: center;
 flex-direction: column;
  margin-top: 0.5rem;
}
.elementor-9630 .elementor-element.elementor-element-bcbb53c .last-time h5 {
  color: #333;
  font-size: 16px;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 0;
}
.elementor-9630 .elementor-element.elementor-element-bcbb53c #timer {
  color: #ff0000;
  font-size: 18px;
  font-weight: 600;
}
@media (max-width: 767px) {
.elementor-9630 .elementor-element.elementor-element-bcbb53c  .box {
padding: 10px;
}
.elementor-9630 .elementor-element.elementor-element-bcbb53c  .last-time {
flex-direction: column;
gap: 0;
}
}

/* hider class*/
.elementor-9630 .elementor-element.elementor-element-bcbb53c .hide {
display: none;
transition: all 0.5s ease;
}

@media(max-width: 767px){
    .elementor-9630 .elementor-element.elementor-element-bcbb53c .step h2 {
font-size: 1.3rem;
}
.elementor-9630 .elementor-element.elementor-element-bcbb53c .step p{
font-size: 15px;
}
.elementor-9630 .elementor-element.elementor-element-bcbb53c .thank-you {
    padding: 10px;
    gap: 3px;
  }
  .elementor-9630 .elementor-element.elementor-element-bcbb53c .thank-you-cntent{
    flex-direction: column;
    gap: 10px;
  }
  .elementor-9630 .elementor-element.elementor-element-bcbb53c .last-time{
      margin-top: 20px;
  }
  .elementor-9630 .elementor-element.elementor-element-bcbb53c .thank-you{
      margin-top: 0;
  }
}

.elementor-9630 .elementor-element.elementor-element-bcbb53c .go-back-btn {
    float: right;
    color: #000;
    opacity: 0.7;
    font-weight: 600;
    cursor: pointer;
    position: relative;
    margin-bottom: 20px;
}
.elementor-9630 .elementor-element.elementor-element-bcbb53c .go-back-btn:hover{
    opacity: 1;
}
.elementor-9630 .elementor-element.elementor-element-bcbb53c .go-back-btn:before{
    content: '‹';
    position: absolute;
    left: -15px;
    top: -17px;
    font-size: 35px;
}/* End custom CSS */
/* Start custom CSS for html, class: .elementor-element-6fcefbd */.elementor-9630 .elementor-element.elementor-element-6fcefbd{
    font-family: "Hurme Geometric Sans No.3", Sans-serif;
}
.elementor-9630 .elementor-element.elementor-element-6fcefbd .rating {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    font-size: 18px;
}
.elementor-9630 .elementor-element.elementor-element-6fcefbd .rating-txt {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.elementor-9630 .elementor-element.elementor-element-6fcefbd .rating-txt p{
    margin-bottom: 0;
    color: #313131;
    font-size: 18px;
    font-weight: 600;
}
.elementor-9630 .elementor-element.elementor-element-6fcefbd .rating-img {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.elementor-9630 .elementor-element.elementor-element-6fcefbd .rating-img img {
    width: 80px;
}
.elementor-9630 .elementor-element.elementor-element-6fcefbd .rating-img figure{
    background: rgb(237 237 237);
    padding: 12px;
    border-radius: 8px;
    height: 56px;
}
@media(max-width: 767px){
    .elementor-9630 .elementor-element.elementor-element-6fcefbd .rating{
        font-size: 16px;
        gap: 10px;
    }
    .elementor-9630 .elementor-element.elementor-element-6fcefbd .rating-txt{
        gap: 8px;
    }
    .elementor-9630 .elementor-element.elementor-element-6fcefbd .rating-txt .svg{
        width: 90px;
        height: 17px;
        display: flex;
    }
}/* End custom CSS */
/* Start custom CSS for reviews, class: .elementor-element-2a9342d */.elementor-9630 .elementor-element.elementor-element-2a9342d .elementor-main-swiper {
    padding-bottom: 0;
}
.elementor-9630 .elementor-element.elementor-element-2a9342d .swiper-pagination {
    position: static;
}

.elementor-9630 .elementor-element.elementor-element-2a9342d .elementor-testimonial__text img {
    display: block;
    width: 120px;
    margin: 0 0 10px;
}/* End custom CSS */
/* Start custom CSS for html, class: .elementor-element-b740422 */.elementor-9630 .elementor-element.elementor-element-b740422{
    font-family: "Hurme Geometric Sans No.3", Sans-serif;
}
.elementor-9630 .elementor-element.elementor-element-b740422 ul {
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    max-width: 690px;
    margin-inline: auto;
    text-align: center;
    counter-reset: step;
}
.elementor-9630 .elementor-element.elementor-element-b740422 ul li{
    padding-left: 45px;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    text-align: left;
    position: relative;
    min-width: 200px;
}
.elementor-9630 .elementor-element.elementor-element-b740422 ul li:nth-child(2){
    min-width: 320px;
}
.elementor-9630 .elementor-element.elementor-element-b740422 ul li:before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 35px;
    height: 35px;
    background: #16ca92;
    border-radius: 50%;
}
.elementor-9630 .elementor-element.elementor-element-b740422 ul li:after{
    content: counter(step);
    counter-increment: step;
    position: absolute;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    left: 12px;
    top: 5px;
}
@media(max-width: 767px){
    .elementor-9630 .elementor-element.elementor-element-b740422 ul{
        flex-direction: column;
        gap: 10px;
    }
    .elementor-9630 .elementor-element.elementor-element-b740422 ul li{
    padding-left: 35px;
    }
    .elementor-9630 .elementor-element.elementor-element-b740422 ul li:before{
        width: 25px;
        height: 25px;
    }
    .elementor-9630 .elementor-element.elementor-element-b740422 ul li:after{
        font-size: 14px;
        left: 9px;
        top: 2px;
    }
}/* End custom CSS */
/* Start custom CSS for toggle, class: .elementor-element-6c70454 */.elementor-9630 .elementor-element.elementor-element-6c70454 > div{
    max-width: 750px;
    margin-inline: auto;
}/* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-e260f52 */.elementor-9630 .elementor-element.elementor-element-e260f52 span{
    color: #000;
}/* End custom CSS */
/* Start custom CSS */body.elementor-page-9630 .elementor-location-header{
    display: none;
}
body.elementor-page-9630 {
    font-family: "Hurme Geometric Sans No.3", Sans-serif !important;
}/* End custom CSS */
/* Start Custom Fonts CSS */@font-face {
	font-family: 'Hurme Geometric Sans No.3';
	font-style: normal;
	font-weight: 100;
	font-display: auto;
	src: url('../../2024/05/HurmeGeometricSans3-Light.ttf') format('truetype');
}
@font-face {
	font-family: 'Hurme Geometric Sans No.3';
	font-style: normal;
	font-weight: 300;
	font-display: auto;
	src: url('../../2024/05/HurmeGeometricSans3-Light-1.ttf') format('truetype');
}
@font-face {
	font-family: 'Hurme Geometric Sans No.3';
	font-style: normal;
	font-weight: 400;
	font-display: auto;
	src: url('../../2024/05/HurmeGeometricSans3-Regular.ttf') format('truetype');
}
@font-face {
	font-family: 'Hurme Geometric Sans No.3';
	font-style: normal;
	font-weight: 500;
	font-display: auto;
	src: url('../../2024/05/HurmeGeometricSans3-SemiBold.ttf') format('truetype');
}
@font-face {
	font-family: 'Hurme Geometric Sans No.3';
	font-style: normal;
	font-weight: 600;
	font-display: auto;
	src: url('../../2024/05/HurmeGeometricSans3-Bold.ttf') format('truetype');
}
@font-face {
	font-family: 'Hurme Geometric Sans No.3';
	font-style: normal;
	font-weight: 700;
	font-display: auto;
	src: url('../../2024/05/HurmeGeometricSans3-Black.ttf') format('truetype');
}
/* End Custom Fonts CSS */